
  <div class="col s12 m6 l6">
    <div class="card teal">
      <div class="card-content white-text">
        <span class="card-title"><%= user.user_name %></span>
        <p>Join Date: <%= user.created_at.strftime('%x') %><br>
            Total Submissions: <%= user.links.count %> <br>
            Total Comments: <%= user.comments.count %> <br>
            Net Link Votes: <%= user.link_vote_count %><br>
            Net Comment Votes: <%= user.comment_vote_count %></p>

      </div>
      <div class="card-action">
        <a href="/users/<%= user.id %>?request=links">User Links</a>
        <a href="/users/<%= user.id %>?request=comments">User Comments</a>
      </div>
    </div>
  </div>
