<h1 class="page-header teal-text text-lighten-2">
   User</h1>


<div class="row profile">
  <%= render partial: 'userbox',
      locals: { user: @user }%>
</div>


<% if params[:request] == 'links' %>
  <% @user.paginate_links(params[:page]).each do |link| %>

    <%= render partial: 'links/linkbox',
          locals: { link: link } %>
  <% end %>
<% end %>
<%= paginate @user.paginate_links(params[:page]) %>

<% if params[:request] == 'comments' %>

  <% @user.paginate_comments(params[:page]).each do |comment| %>
    <%= render partial: 'links/linkbox',
        locals: { link: comment.link } %>
    <div class="comment-container show-page user-comment-title">
    <%= render partial: 'links/commentbox',
          locals: { comment: comment } %>
    </div>
  <% end %>
  <%= paginate @user.paginate_comments(params[:page]) %>
<% end %>
