<div class="comment-box">
  <div class="row">
    <a href="/users/<%= comment.user_id %>">
      <small class="user-name-time blue-grey-text text-lighten-2">
          <%= comment.user_name %> | <%= comment.time %>
      </small>
    </a>
    <% if logged_in? && current_user.id == comment.user_id %>
      <%= link_to "/comments/#{comment.id}", method: :delete do %>
      <small class="user-name-time blue-grey-text text-lighten-2">
        Delete
      </small>
      <% end %>
    <% end %>

    <span class="comment-vote-count badge center-align teal lighten-3">
      <%= comment.net_votes %>
    </span>
  </div>
    <div class="row">
      <div class="col s9 m10 comment-text"><%= comment.body %></div>
      <div class="col s3 m2 vote-icons">
        <%= link_to "/comments/#{comment.id}/vote?value=-1", method: :post do %>
          <small class="right on-link red-text text-lighten-2">
            <i class="material-icons downvote">thumb_down</i>
          </small>
        <% end %>
        <%= link_to "/comments/#{comment.id}/vote?value=1", method: :post do %>
          <small class="right on-link green-text text-lighten-2">
            <i class="material-icons upvote">thumb_up</i>
          </small>
        <% end %>
      </div>
    </div>
</div>
