
<div class="show-page">

  <%= render partial: 'linkbox',
    locals: { link: @link }%>


  <div class="comment-container">
    <br>
    <h5> Comments (<%= @link.total_comments %>)</h5>
    <% if logged_in? %>
      <%= form_for(Comment.new) do |f| %>
        <%= f.label :body %>
        <%= f.text_field :body, placeholder: "Enter Comment here" %>

        <%= f.submit value: "Submit Comment", class: "waves-effect waves-light btn" %>
      <% end %>
    <% end %>
    <% @comments.each do |comment| %>
      <%= render partial: 'commentbox',
        locals: { comment: comment }%>
      <% end %>
    <%= paginate @comments %>
  </div>
</div>
