<!DOCTYPE html>
<html>
<head>
  <title>Redditapp</title>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">Blue Hair</a>
      <a href=""data-activates="mobile-demo-menu" class="button-collapse">
        <i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Boards", b_path %></li>
        <li><%= link_to "Users", users_path %></li>
        <% if logged_in? %>
        <li><%= link_to "New Link", new_link_path %></li>
        <li><%= link_to "Log Out", sessions_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Login", sessions_path %></li>
        <li><%= link_to "Sign Up", new_user_path %></li>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo-menu">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Boards", b_path %></li>
        <li><%= link_to "Users", users_path %></li>
        <% if logged_in? %>
        <li><%= link_to "New Link", new_link_path %></li>
        <li><%= link_to "Log Out", sessions_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Login", sessions_path %></li>
        <li><%= link_to "Sign Up", new_user_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

</div>
<div class="container">
  <% if logged_in? %>
  <a href="/users/<%=current_user.id%>" class="right waves-effect waves-light btn">
    <i class="material-icons left">perm_identity</i>
     Welcome, <%= current_user.user_name %></a>
  <% end %>
  <% if flash[:alert] %>
  <div class="alert row red-text">
    <%= flash[:alert] %>
  </div>
  <% end %>
  <% if flash[:notice] %>
  <div class="notice row green-text">
    <%= flash[:notice] %>
  </div>
  <% end %>
  <%= yield %>
</div>
<footer class="page-footer grey darken-1"> </footer>
</body>
</html>
